.content {
  display: flex;
  flex-direction: column;
  gap: 32px;
  max-width: 520px;
  margin-top: 16px;
}

.links {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.link {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 15px;
  color: var(--text-h);
  text-decoration: none;
  transition: color 0.2s;
}

.link:hover {
  color: var(--accent);
}

.linkIcon {
  width: 20px;
  height: 20px;
}

@media (prefers-color-scheme: dark) {
  .linkIcon {
    filter: invert(1);
  }
}
